# Dependencies
node_modules/

# Next.js build output
.next/
out/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
*.swp

# Env files
.env
.env.*
